# TODO: How to set this up to start automatically?
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Oblique Strategies'
      'command': 'oblique-strategies:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Oblique Strategies'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'oblique-strategies:toggle'
        }
      ]
    ]
  }
]
