'context-menu':
  'atom-text-editor': [
    {
      'label': 'Show a Strategy'
      'command': 'oblique-strategies:show'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Oblique Strategies'
      'submenu': [
        {
          'label': 'Toggle Inactivity Monitor'
          'command': 'oblique-strategies:toggle'
        },
        {
          'label': 'Show a Strategy'
          'command': 'oblique-strategies:show'
        }
      ]
    ]
  }
]
